*{
    box-sizing: content-box;
    --header-color: rgb(253, 140, 33);
    --h1-color: rgb(255, 255, 255);
    --subtitle-color: rgb(240, 240, 240);
    --information-box: rgb(255, 171, 93);
}

body{
    font-family: 'Roboto', sans-serif;
}

main{
    width: 90%;
    margin: 30px auto;
}

main input{
    margin-bottom: 10px;
}

header{
    width: 100%;
    height: 70px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color);
}

header *{
    font-weight: 700;

}

header h1{
    font-size: 25px;
    display:block;
    color: var(--h1-color)
}

header p {
    text-align: center;
    font-size: 15px;
    color: var(--subtitle-color);
}

.location-climate{
    margin-top: 30px;
    background-color: var(--information-box);
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}
